name: Tests (Pest)

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - { operating-system: 'ubuntu-latest', php-version: '8.2', dependencies: '' }
                    - { operating-system: 'ubuntu-latest', php-version: '8.3', dependencies: '' }
                    - { operating-system: 'ubuntu-latest', php-version: '8.4', dependencies: '' }

        name: PHP ${{ matrix.php-version }}

        steps:
            -   uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: pcov
                    tools: composer:v2

            -   name: Install dependencies
                run: |
                    composer install --no-interaction --prefer-dist --no-progress ${{ matrix.dependencies }}

            -   name: Start docker validators
                run: |
                    docker compose up --detach --wait --wait-timeout 30

            -   name: Run tests
                run: |
                    ./vendor/bin/pest
